/* Drucken nur via PDF zulassen */
.btn-print-print {
	visibility: hidden;
}
/* Texteditor kleiner machen, wenn kein Inhalt (Default-Mindesthöhe ist 400px) */
.ql-editor {
	min-height: 150px !important;
}
/* Warnmeldung beim Versenden eines Entwurfes per E-Mail */
.email-draft-warning {
	background-color: #ffc6c6;
	padding: 4px 9px;
	margin: 10px 0 5px 0;
	display: inline-block;
}


/* DATENTABELLEN IN FORMULAREN */

.infotable {
	border: 0;
	border-collapse: collapse;
	background-color: rgb(245, 247, 250);
	margin-top: 15px;
}
.infotable th, .infotable td {
	padding: 5px 10px;
	text-align: center;
	border: 2px solid white;
}
.infotable th:first-child, .infotable td:first-child {
	text-align: left;
}


/* BESSERE BERICHTDARSTELLUNG */

/* Äussere Scrollbar vermeiden in Listen und Berichten (1) */
.page-body {
	min-height: calc(100vh - 60px);
}
/* Äussere Scrollbar vermeiden in Listen und Berichten (2) */
.page-container[id^=page-List] .layout-main-section-wrapper {
	margin-bottom: 0 !important;
}
/* Listen- und Berichtansicht (nicht Kalender): Footer immer sichtbar, Scrollbar erscheint innerhalb Tabelle */
.page-container[id^="page-List"][id$="/List"] .frappe-list .result,
.page-container[id^="page-List"][id$="/List"] .frappe-list .no-result,
.page-container[id^="page-List"][id$="/List"] .frappe-list .freeze,
.page-container[id^="page-List"][id$="/Report"] .frappe-list .result,
.page-container[id^="page-List"][id$="/Report"] .frappe-list .no-result,
.page-container[id^="page-List"][id$="/Report"] .frappe-list .freeze,
.page-container[id^="page-List"][id*="/Report/"] .frappe-list .result,
.page-container[id^="page-List"][id*="/Report/"] .frappe-list .no-result,
.page-container[id^="page-List"][id*="/Report/"] .frappe-list .freeze {
	overflow-y: auto;
	height: calc(100vh - 284px) !important;
}
/* Analoge Regel für Gantt Chart */
.page-container[id^="page-List"][id$="/Gantt"] .frappe-list .gantt-container {
	overflow-y: auto;
	height: calc(100vh - 284px) !important;
}
/* Kalender: keine innere Scrollbar auch wenn "überfüllt" */
.fc-scroller {
	overflow: hidden !important;
}
/* Query Report: Gesamthöhe des Berichtes skaliert mit Seite mit */
#page-query-report .layout-main {
	height: calc(100vh - 190px);
}
/* 2x Flex-Layout, damit Tabellenansicht in Berichten immer den Bildschirm ausfüllt und nie zwei vertikale Scrollbars anzeigt */
/* Obere Ebene Flex-Layout (.report-wrapper variabel) */
.layout-main-section {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.layout-main-section > * {
	flex-grow: 0;
}
.layout-main-section > .report-wrapper {
	flex-grow: 1;
}
.layout-main-section-wrapper {
	height: 100%;
}
.datatable-wrapper {
	height: 100%;
}
/* Untere Ebene Flex-Layout (.dt-scrollable variabel) */
.datatable {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.datatable > * {
	flex-grow: 0;
}
.datatable > .dt-scrollable {
	height: initial !important; /* Sinnlose Höhenangabe abhängig von Viewport-Breite(!) überschreiben mit Flexlayout */
	max-height: initial !important;
	width: initial !important;
	flex-grow: 1;
}

/* LOADING SPINNER */

.lds-done {
	border: 1.5px solid #0d6;
}
.lds-ellipsis {
  /* change color here */
  color: #36414c;
}
.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: absolute;
	top: 0px;
	left: 85%;
  /* width: 30px; */
  /* height: 30px; */
}
.lds-ellipsis div {
  position: absolute;
  top: 13px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 11.2px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 18.4px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(7.2px, 0);
  }
}