<!-- Sales Order -->

<!-- Load Data -->
{% set doc_data = {'titel': 'Rahmenauftragsbestätigung'} %}
{{ frappe.render_template('templates/includes/load_data.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Load Data -->

<!-- Header und Footer -->
{{ frappe.render_template('templates/includes/header_footer.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Header und Footer -->

<!-- Adresse -->
{{ frappe.render_template('templates/includes/address.html', {'adresse': doc_data.adresse_kunde}) }}
<!-- /Adresse -->

<!-- Titel und oberer Fliesstext -->
{{ frappe.render_template('templates/includes/title_and_terms.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Titel und oberer Fliesstext -->

<!-- Detailtabelle -->
<table style="width: 99%" class="detailtable">
	<tr>
		<td style="width: 24%;">{{ _("Ihre Referenz") }}</td>
		<td style="width: 24%;">{{ doc.rahmenauftragsnummer_kunde or '-' }}</td>
		<td style="width: 3%;"></td>
		<td style="width: 24%;">{{ _("Gültig ab") }}</td>
		<td style="width: 24%;">{{ doc.get_formatted('from_date') }}</td>
	</tr>
	<tr>
		<td>{{ _("Kontakt") }}</td>
		<td>{{ doc_data.kontakt }}</td>
		<td></td>
		<td>{{ _("Gültig bis") }}</td>
		<td>{% if doc.bis_auf_weiteres %}Bis auf Weiteres{% else %}{{ doc.get_formatted('to_date') }}{% endif %}</td>
	</tr>
	<tr>
		<td>{{ _("Ihre Kundennummer") }}</td>
		<td>{{ doc.customer }}</td>
		<td></td>
		<td>{{ _("Lieferkonditionen") }}</td>
		<td>{% if doc_data.lieferkonditionen.found == 1 %}{{ _(doc_data.lieferkonditionen.txt) }}{% else %}-{% endif %}</td>
	</tr>
	<tr>
		<td>{{ _("Unsere Lieferantennr.") }}</td>
		<td>{% if doc_data.unsere_lieferantennummer %}{{ doc_data.unsere_lieferantennummer }}{% else %}-{% endif %}</td>
		<td></td>
		<td>{{ _("Zahlungskonditionen") }}</td>
		<td>{% if doc.payment_terms %}{{ _(doc.payment_terms) }}{% else %}-{% endif %}</td>
	</tr>
	<tr>
		<td>{{ _("Lieferadresse") }}</td>
		<td>{% if doc_data.adresse_lieferung.firma != doc_data.adresse_kunde.firma -%}
		        {{ doc_data.adresse_lieferung.firma }}, 
				{%- endif %} {{ doc_data.adresse_lieferung.adresse|replace(" <br>", "<br>")|replace("<br>", ", ")|trim }}
				{%- if doc_data.adresse_lieferung.land != 'Schweiz' -%}
				    , {{ _(doc_data.adresse_lieferung.land) }}
				{%- endif %}
		</td>
		<td></td>
		<td>{{ _("Geschäftsbedingungen") }}<br>{{ _("Ihr Ansprechpartner") }}</td>
		<td>{{ _("Siehe senstech.ch/agb") }}<br>{{ doc_data.ansprechpartner }}</td>
	</tr>
</table>
<!-- /Detailtabelle -->

<div><br></div>

<!-- Artikeltabelle -->
{{ frappe.render_template('templates/includes/item_table.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Artikeltabelle -->

<div><br></div>

<!-- Abschlussblock -->
<div>
{{ frappe.render_template('templates/includes/closing.html', {'doc': doc, 'doc_data': doc_data}) }}
</div>
<!-- /Abschlussblock -->