<!--

Certificate of Compliance

Params:

doc				The sales document to base the COC on (usually a Delivery Note)
doc_data  Prepared data of the sales document
coc_data  COC-specific data (item, batch, qty)

-->

<!-- Header und Footer -->
{{ frappe.render_template('templates/includes/header_footer.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Header und Footer -->

<!-- Adresse -->
{{ frappe.render_template('templates/includes/address.html', {'adresse': doc_data.adresse_kunde}) }}
<!-- /Adresse -->

<div>
		<b><br><br>{{ _("Lieferfreigabe - COC") }}</b>
		<div><br></div>
</div>


<!-- Detailtabelle -->
<table style="width: 99%" class="detailtable">
	<tr>
		<td style="width: 24%;">{{ _("Ihre Referenz") }}</td>
		<td style="width: 24%;">{{ doc.po_no or '-' }}</td>
		<td style="width: 3%;"></td>
		<td style="width: 24%;">{{ _("Datum") }}</td>
		<td style="width: 24%;">{{ doc.get_formatted('posting_date') or frappe.utils.get_datetime(doc.modified).strftime('%d.%m.%Y') }}</td>
	</tr>
	<tr>
		<td>{{ _("Ihre Kundennummer") }}</td>
		<td>{{ doc.customer or '-' }}</td>
		<td></td>
		<td>{{ _("Rahmenauftrag") }}</td>
		<td>{{ doc_data.rahmenauftrag or '-' }}</td>	
	</tr>
	<tr>
		<td>{{ _("Unsere Lieferantennr.") }}</td>
		<td>{{ doc_data.unsere_lieferantennummer or '-' }}</td>
		<td></td>
		<td>{{ _("Lieferscheinnummer") }}</td>
		<td>{{ doc.name if doc.doctype == 'Delivery Note' else _('Noch nicht ausgeliefert') }}</td>
	</tr>
</table>
<!-- /Detailtabelle -->

<div><br></div>

<!-- Artikel Tabelle -->
<table style="width: 99%" id="itemtable">
	<tbody>
		<tr>
			<!--{#<th>{{ _("Pos.") }}</th>#}-->
			<th>{{ _("Artikel") }}</th>
			<th>{{ _("Menge") }}</th>
			<th>{{ _("Charge") }}</th>
			<th>{{ _("Herstelldatum") }}</th>
		</tr>
		{% set item_stamm = frappe.get_doc("Item", coc_data.item) %}
		{% set zolltarif = frappe.get_doc("Item Group", item_stamm.item_group).zolltarifnummer %}
		{% set short_description = item_stamm.description.split("</div><div>")[0]|replace("<div>", "") %}
		{% set charge_stamm = frappe.get_doc("Batch", coc_data.batch) %}
		<tr>
			<!--{#<td>{{ loop.index }}</td>#}-->
			<td>{{ charge_stamm.artikelcode }}<br>{% if charge_stamm.artikelcode_kunde %}{{ _("Artikelnr. Kunde:") }} {{ charge_stamm.artikelcode_kunde }}{% if charge_stamm.produktrevision_kunde or item_stamm.produktrevision_kunde %} {{ _("rev.") }} {{ charge_stamm.produktrevision_kunde or item_stamm.produktrevision_kunde }}{% endif %}<br>{% endif %}<b>{{ charge_stamm.artikelbezeichnung or charge_stamm.item_name }}</b><br>{{ charge_stamm.short_description or short_description }}<br>{{ _("Bemerkungen") }}: {{ charge_stamm.description or _('keine') }}</td>
			<td>{{ coc_data.qty | int }} {{ _(item_stamm.stock_uom) }}</td>
			<td>{{ charge_stamm.chargennummer }}</td>
			<td>{{ frappe.utils.get_datetime(charge_stamm.manufacturing_date).strftime('%d.%m.%Y') }}</td>
		</tr>	
	</tbody>
</table>
<!-- /Artikel Tabelle -->


<!-- Bestaetigungstext -->
<div style="width: 99%" class="details">
	<br>{{ charge_stamm.qualitaetsspezifikation }}<br>
</div>
<table style="width: 99%" class="detailtable">
	<tr>
		<td style="text-align: left;"><br><br></td>
		<td style="text-align: left;">{{ _("Datum") }}<br></td>
		<td style="text-align: center;">{{ _("Unterschrift") }}<br></td>
		<td style="text-align: left;">{{ _("Name") }}<br></td>
	</tr>
	<tr>
		<td style="text-align: left;">{{ _("Produktverantwortlicher Senstech AG:") }}</td>
		<td style="text-align: left;">{{ frappe.utils.get_datetime(charge_stamm.manufacturing_date).strftime('%d.%m.%Y') }}</td>
		<td style="text-align: center;">
			{% if charge_stamm.freigabe_beantragt_durch %}
			  {% set unterschrift_ersteller = get_signature_for_name(charge_stamm.freigabe_beantragt_durch) %}
				{% set name_ersteller = charge_stamm.freigabe_beantragt_durch %}
			{% elif coc_data.is_preview %}
			  {% set unterschrift_ersteller = doc_data.unterschrift %}
				{% set name_ersteller = doc_data.ansprechpartner %}
			{% else %}
				<div class="errorpopup">Fehler: Produktionscharge hat keinen Freigabeantrag</div>
			{% endif %}
			
			{% if not (unterschrift_ersteller and name_ersteller) %}
					<div class="errorpopup">Fehler: Unterschrift von CoC-Ersteller "{{ name_ersteller }}" nicht gefunden</div>
			{% endif %}
			<img src="{{ unterschrift_ersteller }}" style="width: 100px !important; margin-top: -15px;">
		</td>
		<td style="text-align: left;">
				{{ name_ersteller }}
		</td>
	</tr>
	{% if charge_stamm.freigabedatum %}
	<tr>
		<td style="text-align: left;">{{ _("Produktbetreuer Senstech AG:")}}</td>
		<td style="text-align: left;">{{ frappe.utils.get_datetime(charge_stamm.freigabedatum).strftime('%d.%m.%Y') }}</td>
		<td style="text-align: center;">
		  {% set unterschrift_freigabe_durch = get_signature_for_name(charge_stamm.freigegeben_durch) %}
			{% if not unterschrift_freigabe_durch %}
					<div class="errorpopup">Fehler: Unterschrift von CoC-Freigeber "{{ charge_stamm.freigegeben_durch }}" nicht gefunden</div>
			{% endif %}
			<img src="{{ unterschrift_freigabe_durch }}" style="width: 100px !important; margin-top: -15px;">
		</td>
		<td style="text-align: left;">
				{{ charge_stamm.freigegeben_durch }}
		</td>
	</tr>
	{% elif coc_data.is_preview %}
	<tr>
		<td style="text-align: left;">{{ _("Produktbetreuer Senstech AG:")}}</td>
		<td colspan="3"><b>{{ _("Freigabe durch Produktbetreuer ist noch nicht erfolgt") }}</b></td>
	</tr>
	{% else %}
		<div class="errorpopup">Fehler: Produktionscharge nicht freigegeben</div>
	{% endif %}
</table>
<!-- /Bestaetigungstext -->