<!--

Certificate of Compliance

Params:

doc				The sales document to base the COC on (usually a Delivery Note)
doc_data  Prepared data of the sales document
coc_data  COC-specific data (item, batch, qty)

-->

<!-- Header und Footer -->
{{ frappe.render_template('templates/includes/header_footer.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Header und Footer -->

<!-- Adresse -->
{{ frappe.render_template('templates/includes/address.html', {'adresse': doc_data.adresse_kunde}) }}
<!-- /Adresse -->

<div>
		<b><br><br>{{ _("Lieferfreigabe - COC") }}</b>
		<div><br></div>
</div>


<!-- Detailtabelle -->
<table style="width: 99%; font-size: 8.5pt !important;" id="detailtable">
	<tr>
		<td style="width: 24%;">{{ _("Ihre Referenz") }}</td>
		<td style="width: 24%;">{% if doc.po_no %}{{ doc.po_no }}{% else %}-{% endif %}</td>
		<td style="width: 3%;"></td>
		<td style="width: 24%;">{{ _("Datum") }}</td>
		<td style="width: 24%;">{{ doc.get_formatted('posting_date') }}</td>
	</tr>
	<tr>
		<td>{{ _("Ihre Kundennummer") }}</td>
		<td>{{ doc.customer }}</td>
		<td></td>
		<td>{{ _("Rahmenauftrag") }}</td>
		<td>{% if doc_data.rahmenauftrag %}{{ doc_data.rahmenauftrag }}{% else %}-{% endif %}</td>	
	</tr>
	<tr>
		<td>{{ _("Unsere Lieferantennr.") }}</td>
		<td>{% if doc_data.unsere_lieferantennummer %}{{ doc_data.unsere_lieferantennummer }}{% else %}-{% endif %}</td>
		<td></td>
		<td>{{ _("Lieferscheinnummer") }}</td>
		<td>{{ doc.name }}</td>
	</tr>
</table>
<!-- /Detailtabelle -->

<div><br></div>

<!-- Artikel Tabelle -->
<table style="width: 99%; font-size: 8.5pt !important;" id="itemtable">
	<tbody>
		<tr>
			<!--{#<th>{{ _("Pos.") }}</th>#}-->
			<th>{{ _("Artikel") }}</th>
			<th>{{ _("Menge") }}</th>
			<th>{{ _("Charge") }}</th>
			<th>{{ _("Herstelldatum") }}</th>
		</tr>
		{% set item_stamm = frappe.get_doc("Item", coc_data.item) %}
		{% set zolltarif = frappe.get_doc("Item Group", item_stamm.item_group).zolltarifnummer %}
		{% set short_description = item_stamm.description.split("</div><div>") %}
		{% set spez_kontrolle = {'identisch': 1, 'beschreibung': '', 'neueste': '', 'freigabe': '', 'ersteller': '', 'freigabe_durch': ''} %}
		
			{% set charge_stamm = frappe.get_doc("Batch", coc_data.batch) %}
			{% if spez_kontrolle.beschreibung != '' %}
				{% if charge_stamm.qualitaetsspezifikation != spez_kontrolle.beschreibung %}
					{% if spez_kontrolle.update({'identisch': 0 }) %}{% endif %}
				{% endif %}
				{% if charge_stamm.manufacturing_date > spez_kontrolle.neueste %}
					{% if spez_kontrolle.update({'neueste': charge_stamm.manufacturing_date, 'freigabe': charge_stamm.freigabedatum }) %}{% endif %}
				{% endif %}
			{% else %}
				{% if spez_kontrolle.update({'identisch': 1, 'beschreibung': charge_stamm.qualitaetsspezifikation, 'neueste': charge_stamm.manufacturing_date, 'freigabe': charge_stamm.freigabedatum, 'ersteller': charge_stamm.owner, 'freigabe_durch': charge_stamm.freigegeben_durch }) %}{% endif %}
			{% endif %}
			<tr>
				<!--{#<td>{{ loop.index }}</td>#}-->
				<td>{{ item_stamm.item_code }}<br>{% if item_stamm.artikelcode_kunde %}{{ item_stamm.artikelcode_kunde }}{% if item_stamm.produktrevision_kunde %} {{ item_stamm.produktrevision_kunde }}{% endif %}<br>{% endif %}<b>{{ item_stamm.item_name }}</b><br>{{ short_description[0]|replace("<div>", "") }}<br>{{ _("Bemerkungen") }}: {{ charge_stamm.description or _('keine') }}</td>
				<td>{{ coc_data.qty | int }} {{ _(item_stamm.stock_uom) }}</td>
				<td>{{ charge_stamm.chargennummer }}</td>
				<td>{{ frappe.utils.get_datetime(charge_stamm.manufacturing_date).strftime('%d.%m.%Y') }}</td>
			</tr>
		
	</tbody>
</table>
<!-- /Artikel Tabelle -->


<!-- Bestaetigungstext -->
{% if spez_kontrolle.identisch == 1 %}
	<div style="width: 99%; font-size: 8.5pt !important;">
		<br>{{ spez_kontrolle.beschreibung }}<br>
	</div>
	<table style="width: 99%; font-size: 8.5pt !important;">
		<tr>
			<td style="text-align: left;"><br><br></td>
			<td style="text-align: center;">{{ _("Datum") }}<br></td>
			<td style="text-align: center;">{{ _("Unterschrift") }}<br></td>
		</tr>
		<tr>
			<td style="text-align: left;">{{ _("Produktverantwortlicher Senstech AG:") }}</td>
			<td style="text-align: center;">{{ frappe.utils.get_datetime(spez_kontrolle.neueste).strftime('%d.%m.%Y') }}</td>
			<td style="text-align: center;">
				{% set employee_list_ersteller = frappe.get_list("Employee", fields=("unterschrift"), filters={"user_id": spez_kontrolle.ersteller }) %}
				{% if employee_list_ersteller %}
					{% set unterschrift_ersteller = employee_list_ersteller[0].unterschrift %}
				{% else %}
						{% set unterschrift_ersteller = "" %}
						<div class="errorpopup">Fehler: Unterschrift von CoC-Ersteller "{{ spez_kontrolle.ersteller }}" nicht gefunden</div>
				{% endif %}
				<img src="{{ unterschrift_ersteller }}" style="width: 100px !important; margin-top: -15px;">
			</td>
		</tr>
		<tr>
			<td style="text-align: left;">{{ _("Produktbetreuer Senstech AG:")}}</td>
			<td style="text-align: center;">{{ frappe.utils.get_datetime(spez_kontrolle.freigabe).strftime('%d.%m.%Y') }}</td>
			<td style="text-align: center;">
				{% set employee_list_freigabe_durch = frappe.get_list("Employee", fields=("unterschrift"), filters={"employee_name": spez_kontrolle.freigabe_durch }) %}
				{% if employee_list_freigabe_durch %}
					{% set unterschrift_freigabe_durch = employee_list_freigabe_durch[0].unterschrift %}
				{% else %}
						{% set unterschrift_freigabe_durch = "" %}
						<div class="errorpopup">Fehler: Unterschrift von CoC-Freigeber "{{ spez_kontrolle.freigabe_durch }}" nicht gefunden</div>
				{% endif %}
				<img src="{{ unterschrift_freigabe_durch }}" style="width: 100px !important; margin-top: -15px;">
			</td>
		</tr>
	</table>
{% else %}
	<div class="errorpopup">Fehler: Die einzelnen Spezifikationen der verschiedenen Chargen stimmen nicht überein!</div>
{% endif %}
<!-- /Bestaetigungstext -->