<!--

Histogram

Params:

doc				  The document to base the histogram on (usually a Delivery Note or a Customer)
doc_data    Prepared data of the base document
batch			  The production batch whose histogram should be shown

-->

<!-- Daten laden -->
{% if not batch %}
  {% set batch = doc %}
{% endif %}
{% set item = frappe.get_doc("Item", batch.item) %} <!-- Hier nicht batch.artikelcode verwenden, da es Umbenennung von Artikeln nicht mitmacht -->
{% set stock_data = get_stock_qty(batch.name, 'Fertigerzeugnisse - ST', batch.item) %}
{% if not doc_data %}
  {% set doc_data = {} %}
  {{ frappe.render_template('templates/includes/load_data.html', {'doc': doc, 'doc_data': doc_data}) }}
{% endif %}
<!-- /Daten laden -->

<!-- Header und Footer -->
{{ frappe.render_template('templates/includes/header_footer.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Header und Footer -->

<div>
		<b><br><br>{{ _("Histogramme der Endkontrollergebnisse") }}</b>
		<div style="height:2mm"></div>
</div>


<!-- Detailtabelle -->
<table style="width: 99%" class="detailtable">
	<tr>
		<td style="width: 24%;">{{ _("Ihre Referenz") }}</td>
		<td style="width: 24%;">{{ doc.po_no or '-' }}</td>
		<td style="width: 3%;"></td>
		<td style="width: 24%;">{{ _("Artikel") }}</td>
		<td style="width: 24%;">{{ batch.artikelcode }}</td>
	</tr>
	<tr>
		<td>{{ _("Ihre Kundennummer") }}</td>
		<td>{{ doc.customer or '-' }}</td>
		<td></td>
		<td></td>
		<td>{{ batch.artikelbezeichnung or batch.item_name }}</td>			
	</tr>
	<tr>
		<td>{{ _("Unsere Lieferantennr.") }}</td>
		<td>{{ doc_data.unsere_lieferantennummer or '-' }}</td>
		<td></td>
		<td>{{ _("Produktionscharge") }}</td>
		<td>{{ batch.chargennummer }}</td>	
	</tr>
	<tr>
		<td>{{ _("Lieferscheinnummer") }}</td>
		<td>{{ doc.name if doc.name and doc.doctype != 'Batch' else '-' }}</td>
		<td></td>
		<td>{{ _("Herstelldatum") }}</td>
		<td>{{ frappe.utils.get_datetime(batch.manufacturing_date).strftime('%d.%m.%Y') }}</td>
	</tr>
</table>
<!-- /Detailtabelle -->

<div><br></div>

<!-- Histogramme -->
{% if batch.histogramm_daten %}
		{% set histo_data = json_loads(batch.histogramm_daten) %}
		<div style="width: 100%">
		{% for uri in histo_data %}
				<img src="https://data.libracore.ch/server-side-charts/api/histogram.php?{{ uri }}" style="width: 49%; margin-bottom: 5px">
		{% endfor %}
		</div>
{% else %}
		<div class="errorpopup">Fehler: Keine Histogramm-Daten gefunden</div>
{% endif %}
<!-- /Histogramme -->

<!-- Stückzahlen -->
<div><br></div>
{% if stock_data.entry_qty > batch.histogramm_anz_gemessene or (stock_data.entry_qty == 0 and doc.doctype != 'Batch') or batch.histogramm_anz_gemessene == 0 %}
		<div class="errorpopup">Fehler im Histogramm: Stückzahlen nicht plausibel</div>
{% endif %}
<div class="details">
<p>{{ _("Anzahl gemessene Sensoren:") }} {{ batch.histogramm_anz_gemessene |int }}</p>
<p>{{ _("Anzahl gute Sensoren:") }} 
	{% if stock_data.entry_qty == 0 %}
		{{ _("Unbekannt, Lagerbuchung noch nicht erfolgt") }}
	{% else %}
		{{ stock_data.entry_qty |int }}
	{% endif %}
</p>
</div>
<!-- /Stückzahlen -->


<!-- Qualitätstext -->
<div style="height:2mm"></div>
<div class="details">{{ batch.histogramm_text or item.text_histogramm }}</div>
<div><br></div>
<!-- /Qualitätstext -->


<!-- Datum und Unterschriften -->
<table style="width: 99%" class="detailtable">
	<tr>
		<td style="text-align: left;"><br><br></td>
		<td style="text-align: left;">{{ _("Datum") }}<br></td>
		<td style="text-align: center;">{{ _("Unterschrift") }}<br></td>
		<td style="text-align: left;">{{ _("Name") }}<br></td>		
	</tr>
	<tr>
		<td style="text-align: left;">{{ _("Produktverantwortlicher Senstech AG:") }}</td>
		<td style="text-align: left;">{{ frappe.utils.get_datetime(batch.manufacturing_date).strftime('%d.%m.%Y') }}</td>
		<td style="text-align: center;">
			{% if batch.freigabe_beantragt_durch %}
			  {% set unterschrift_ersteller = get_signature_for_name(batch.freigabe_beantragt_durch) %}
				{% set name_ersteller = batch.freigabe_beantragt_durch %}
			{% elif doc.doctype == 'Batch' %}
			  {% set unterschrift_ersteller = doc_data.unterschrift %}
				{% set name_ersteller = doc_data.ansprechpartner %}
			{% else %}
				<div class="errorpopup">Fehler: Produktionscharge hat keinen Freigabeantrag</div>
			{% endif %}
			
			{% if not (unterschrift_ersteller and name_ersteller) %}
					<div class="errorpopup">Fehler: Unterschrift von Histogramm-Ersteller "{{ name_ersteller }}" nicht gefunden</div>
			{% endif %}
			<img src="{{ unterschrift_ersteller }}" style="width: 100px !important; margin-top: -15px;">
		</td>
		<td style="text-align: left;">
				{{ name_ersteller }}
		</td>		
	</tr>
{% if batch.freigabedatum %}
	<tr>
		<td style="text-align: left;">{{ _("Produktbetreuer Senstech AG:")}}</td>
		<td style="text-align: left;">{{ frappe.utils.get_datetime(batch.freigabedatum).strftime('%d.%m.%Y') }}</td>
		<td style="text-align: center;">
			{% set unterschrift_freigabe_durch = get_signature_for_name(batch.freigegeben_durch) %}
			{% if not unterschrift_freigabe_durch %}
					<div class="errorpopup">Fehler: Unterschrift von Histogramm-Freigeber "{{ batch.freigegeben_durch }}" nicht gefunden</div>
			{% endif %}
			<img src="{{ unterschrift_freigabe_durch }}" style="width: 100px !important; margin-top: -15px;">
		</td>
		<td style="text-align: left;">
			{{ batch.freigegeben_durch }}
		</td>		
	</tr>
{% elif doc.doctype != 'Batch' %}
	<div class="errorpopup">Fehler: Produktionscharge nicht freigegeben</div>
{% else %}
<tr><td colspan="4"><b>Produktionscharge ist noch nicht vom Produktbetreuer freigegeben</b></td></tr>
{% endif %}
</table>
<!-- /Datum und Unterschriften -->