{% set dot = ' <b>&nbsp;·&nbsp;</b> ' %}
{% if doc.has_batch_no %}
  {% set batch_txt = 'Teilchargen' if doc.has_sub_batches else 'Chargen' %}
  {% set batch_txt = batch_txt + ' mit Freigabe' if doc.benoetigt_chargenfreigabe else batch_txt + ' ohne Freigabe' %}
{% else %}
  {% set batch_txt = 'Keine Chargen' %}
{% endif %}

{% if doc.has_variants %}
  {% set docs = frappe.get_list("Item", ['item_code', 'artikelcode_kunde', 'item_name', 'variant_of', 'is_sales_item', 'item_group' ], { 'variant_of': doc.name, 'disabled': False }) %}
{% else %}
  {% set docs = [doc] %}
{% endif %}

{% for label in docs %}
	<p class="oneline">{{ label.item_code }}{{ dot + label.artikelcode_kunde if label.artikelcode_kunde else '' }}</p>
	<h1>{{ label.item_name.replace(label.variant_of+'-','') if label.variant_of else label.item_name }}</h1>
	<div><img src="https://data.libracore.ch/phpqrcode/api/barcode.php?f=png&s=code-128&d={{ label.item_code }}&h=70&tc=fff" style="height:11mm"></div>
	<p class="oneline">{{ 'VK' if label.is_sales_item else 'EK' }}/{{ label.item_group + dot + batch_txt }}</p>
	{% set attrs = frappe.get_list("Item Variant Attribute", ['idx', 'attribute_value' ], filters = { 'parent': label.item_code, 'parenttype': 'Item' }, order_by = 'idx ASC') %}
	<p class="twolines">{% for attr in attrs %}{{ attr.attribute_value + (dot if attr.idx < attrs|length else '') }}{% endfor %}</p>
	{% if label != docs[-1] %}<div class="page-break"></div>{% endif %}
{% endfor %}


<style type="text/css">
@font-face {
   font-family: MyriadProCond;
   src: url('/files/MyriadPro-Cond.otf');
}
@font-face {
   font-family: MyriadProCond;
   font-weight: bold;
   src: url('/files/MyriadPro-SemiboldCond.otf');
}
@font-face {
   font-family: MyriadProCond;
   font-style: italic;
   src: url('/files/MyriadPro-CondIt.otf');
}
@font-face {
   font-family: MyriadProCond;
	 font-weight: bold;
	 font-style: italic;
     src: url('/files/MyriadPro-SemiboldCondIt.otf');
}

.print-format {
    page-width: 57mm;
		page-height: 32mm;
    margin-left: 1mm;
    margin-right: 1mm;
    margin-top: 2mm;
    margin-bottom: 1mm;
    font-family: MyriadProCond;
    font-size: 9pt;
    line-height: 9.5pt;
}

.print-format h1 {
    font-family: MyriadProCond;
    font-size: 11pt;
    line-height: 11.5pt;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.print-format p {
    margin: 0 !important;
    text-overflow: ellipsis;
    overflow: hidden;
}

.print-format p.oneline {
    white-space: nowrap;
}

.print-format p.twolines {
    height: 18pt;
    padding:0 !important;
    margin: 0 !important;
}
</style>