<!-- Quotation -->

<!-- Load Data -->
{% set doc_data = {'titel': 'Offerte'} %}
{{ frappe.render_template('templates/includes/load_data.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Load Data -->

<!-- Header und Footer -->
{{ frappe.render_template('templates/includes/header_footer.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Header und Footer -->

<!-- Adresse -->
{{ frappe.render_template('templates/includes/address.html', {'adresse': doc_data.adresse_kunde}) }}
<!-- /Adresse -->

<!-- Titel und oberer Fliesstext -->
{{ frappe.render_template('templates/includes/title_and_terms.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Titel und oberer Fliesstext -->

<!-- Detailtabelle -->
<table style="width: 99%" class="detailtable">
	<tr>
		<td style="width: 24%;">{{ _("Kontakt") }}</td>
		<td style="width: 24%;">{{ doc_data.kontakt }}</td>
		<td style="width: 3%;"></td>
		<td style="width: 24%;">{{ _("Datum") }}</td>
		<td style="width: 24%;">{{ doc.get_formatted('transaction_date') }}</td>
	</tr>
	<tr>
		<td>{{ _("Ihre Kundennummer") }}</td>
		<td>{{ doc.party_name }}</td>
		<td></td>
		<td>{{ _("Gültig bis") }}</td>
		<td>{{ doc.get_formatted('valid_till') }}</td>
	</tr>
	<tr>
		<td>{{ _("Ihr Ansprechpartner") }}</td>
		<td>{{ doc_data.ansprechpartner }}</td>
		<td></td>
		<td>{{ _("Lieferkonditionen") }}</td>
		<td>{% if doc_data.lieferkonditionen.found == 1 %}{{ _(doc_data.lieferkonditionen.txt) }}{% else %}-{% endif %}</td>
	</tr>
	<tr>
		<td>{{ _("Lieferadresse") }}</td>
		<td>{% if doc_data.adresse_lieferung.firma != doc_data.adresse_kunde.firma -%}
		        {{ doc_data.adresse_lieferung.firma }}, 
				{%- endif %} {{ doc_data.adresse_lieferung.adresse|replace(" <br>", "<br>")|replace("<br>", ", ")|trim }}
				{%- if doc_data.adresse_lieferung.land != 'Schweiz' -%}
				    , {{ _(doc_data.adresse_lieferung.land) }}
				{%- endif %}
		</td>
		<td></td>
		<td>{{ _("Zahlungskonditionen") }}<br>{{ _("Geschäftsbedingungen") }}</td>
		<td>{% if doc.payment_terms_template %}{{ _(doc.payment_terms_template) }}{% else %}-{% endif %}<br>{{ _("Siehe senstech.ch/agb") }}</td>
	</tr>
</table>
<!-- /Detailtabelle -->

<div><br></div>

<!-- Artikeltabelle -->
{{ frappe.render_template('templates/includes/item_table.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Artikeltabelle -->

<div><br></div>

<!-- Abschlussblock -->
<div>
{{ frappe.render_template('templates/includes/closing.html', {'doc': doc, 'doc_data': doc_data}) }}
</div>
<!-- /Abschlussblock -->

<!-- Wasserzeichen "Freigabe nicht erteilt" -->
{% if  doc.docstatus > 0 and doc.gate1_reviewed_date and doc.gate1_review_result != "Gate 1 erreicht" %}
<div class="watermark"><p>{{ _("Freigabe nicht erteilt") }}</p></div>
{% endif %}
<!-- /Wasserzeichen "Freigabe nicht erteilt" -->