<!-- Sales Invoice -->

<!-- Load Data -->
{% if doc.is_return %}
    {% set doc_data = {'titel': 'Gutschrift'} %}
{% else %}
    {% set doc_data = {'titel': 'Rechnung'} %}
{% endif %}
{{ frappe.render_template('templates/includes/load_data.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Load Data -->

<!-- Header und Footer -->
{{ frappe.render_template('templates/includes/header_footer.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Header und Footer -->


<!-- Steuernr. über Adresse -->
{% if doc.tax_id or doc.eori_number %}
<div style="padding-top: 0px;">
	<table style="width: 100%; margin-bottom: 6pt;">
		<tbody>
		{% if doc.tax_id %}
			<tr>
				<td style="width:58%;"></td>
				<td class="details">{{ _("Steuernummer:") }} {{ doc.tax_id }}</td>
			</tr>
		{% endif %}
		{% if doc.eori_number %}
			<tr>
				<td style="width:58%;"></td>
				<td class="details">{{ _("EORI-Nummer:") }} {{ doc.eori_number }}</td>
			</tr>		
		{% endif %}
		</tbody>
	</table>
</div>
{% endif %}
<!-- /Steuernr. über Adresse -->

<!-- Adresse -->
{{ frappe.render_template('templates/includes/address.html', {'adresse': doc_data.adresse_kunde}) }}
<!-- /Adresse -->

<!-- Titel und oberer Fliesstext -->
{{ frappe.render_template('templates/includes/title_and_terms.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Titel und oberer Fliesstext -->

<!-- Detailtabelle -->
<table style="width: 99%;" class="detailtable">
	<tr>{% if doc.is_return %}
		<td style="width: 24%;">{{ _("Zu Rechnung Nr.") }}</td>
		<td style="width: 24%;">{{ doc.return_against }}</td>	
	    {% else %}
		<td style="width: 24%;">{{ _("Ihre Referenz") }}</td>
		<td style="width: 24%;">{% if doc.po_no %}{{ doc.po_no }}{% else %}-{% endif %}{% if doc.po_date %} {{_("vom") }} {{ doc.get_formatted('po_date') }}{% endif %}</td>
		{% endif %}
		<td style="width: 3%;"></td>
		<td style="width: 24%;">{{ _("Datum") }}</td>
		<td style="width: 24%;">{{ doc.get_formatted('posting_date') }}</td>
	</tr>
	<tr>
		 {% if doc.project %}<!-- Entwicklungsprojekte haben kaum einen Rahmenauftrag, daher Projektnr. an dessen Stelle anzeigen -->
				<td>{{ _("Projektnummer") }}</td>
				<td>{{ doc.project }}</td>
		 {% else %}
				<td>{{ _("Rahmenauftrag") }}</td>
				<td>{% if doc_data.rahmenauftrag %}{{ doc_data.rahmenauftrag }}{% else %}-{% endif %}</td>
			{% endif %}   
		<td></td>
		{% if doc.due_date != doc.posting_date %}
		  <td>{{ _("Zahlbar bis") }}</td>
		  <td>{{ doc.get_formatted('due_date') }}</td>
		{% else %}
		  <td></td>
		  <td></td>
		{% endif %}
	</tr>
	<tr>
		<td>{{ _("Kontakt") }}</td>
		<td>{{ doc_data.kontakt }}</td>
		<td></td>
		<td>{{ _("Lieferkonditionen") }}</td>
		<td>{% if doc_data.lieferkonditionen.found == 1 %}{{ _(doc_data.lieferkonditionen.txt) }}{% else %}-{% endif %}</td>
	</tr>
	<tr>
		<td>{{ _("Ihre Kundennummer") }}</td>
		<td>{{ doc.customer }}</td>
		<td></td>
		<td>{{ _("Zahlungskonditionen") }}</td>
		<td>{% if doc.payment_terms_template %}{{ _(doc.payment_terms_template) }}{% else %}-{% endif %}</td>
	</tr>
	<tr>
		<td>{{ _("Unsere Lieferantennr.") }}</td>
		<td>{% if doc_data.unsere_lieferantennummer %}{{ doc_data.unsere_lieferantennummer }}{% else %}-{% endif %}</td>
		<td></td>
		<td>{{ _("Geschäftsbedingungen") }}
		<td>{{ _("Siehe senstech.ch/agb") }}
	</tr>
	<tr>
		<td>{{ _("Lieferadresse") }}</td>
		<td>{% if doc_data.adresse_lieferung.firma != doc_data.adresse_kunde.firma -%}
		        {{ doc_data.adresse_lieferung.firma }}, 
				{%- endif %} {{ doc_data.adresse_lieferung.adresse|replace(" <br>", "<br>")|replace("<br>", ", ")|trim }}
				{%- if doc_data.adresse_lieferung.land != 'Schweiz' -%}
				    , {{ _(doc_data.adresse_lieferung.land) }}
				{%- endif %}
		</td>
		<td></td>
		<td>{{ _("Ihr Ansprechpartner") }}</td>
		<td>{{ doc_data.ansprechpartner }}</td>
	</tr>
</table>
<!-- /Detailtabelle -->

<div><br></div>

<!-- Artikeltabelle -->
{{ frappe.render_template('templates/includes/item_table.html', {'doc': doc, 'doc_data': doc_data}) }}
<!-- /Artikeltabelle -->

<div><br></div>

<!-- Abschlussblock -->
<div>
		{% if doc_data.adresse_lieferung.land == "Schweiz" %}
		  {% if doc.preferential_origin %}
				{{ _("Der Unterzeichner erklärt, dass die in diesem Dokument aufgeführten Waren Ursprungserzeugnisse der Schweiz sind und den Ursprungsregeln im Präferenzverkehr mit EU, EFTA, UK, TR, EG, IL, JO, CN, HK, CA, SACU, RS, SG, KR, JP, GCC entsprechen.") }}
			{% endif %}
		{% else %}
			{% if doc.preferential_origin %}
				{{ _("Der Ausführer der Waren, auf die sich dieses Handelspapier bezieht, erklärt, dass diese Waren, soweit nicht anders angegeben, präferenzbegünstigte schweizerische Ursprungswaren sind.") }}<br>
			{% endif %}
			{% if doc.selbstverzollung %}
				<br><b>{{ _("Selbstverzollung durch Empfänger") }}</b>
			{% endif %}
			{% if doc.preferential_origin and doc.grand_total > 10000 %}
				<br><b>{{ _("Beilage: EUR.1") }}</b>
			{% endif %}
			<div><br></div>
		{% endif %}
		{{ frappe.render_template('templates/includes/closing.html', {'doc': doc, 'doc_data': doc_data}) }}
</div>
<!-- /Abschlussblock -->

<!-- QR-Rechnung -->
{% if frappe.get_doc("Customer", doc.customer).territory == 'Schweiz' %}
    {{ frappe.render_template('templates/includes/qr_invoice.html', {'doc': doc, 'doc_data': doc_data}) }}
{% endif %}
<!-- /QR-Rechnung -->