<table style="width: 99%" id="itemtable">
	<tbody>
		<tr>
			<th>{{ _("Pos.") }}</th>
			<th>{{ _("Artikel") }}</th>
			<th>{{ _("Menge") }}
					{% if doc.doctype == "Sales Order" %}
					  <br>{{ _("Liefertermin") }}
					{% elif doc.doctype == "Purchase Order" %}
						<br>{{ _("Wunschtermin") }}
					{% endif %}
			</th>
			{% if doc.doctype == "Delivery Note" %}
					<th>{{ _("Charge") }}</th>
			{% else %}
					<th style="text-align: right;">{{ _("Einzelpreis") }}</th>
					<th style="text-align: right;">{{ _("Gesamtpreis") }}</th>
			{% endif %}
		</tr>
		{% set totalkontrolle = namespace(value=0) %}
		
		{% for item in doc.items %}
				{% set item_stamm = frappe.get_doc("Item", item.item_code) %}
				<!-- Generischen Anfang der Artikelbezeichnung ("Kraftsensor", "Drehmomentsensor" etc.) separat übersetzen -->
				<!-- (So wird vermieden, dass man für jede Artikelvariante eine Übersetzung anlegen muss) -->
				{% set item_name_parts = _(item.item_name).split(" «") %}
				{% set item_name_start = _(item_name_parts.pop(0)) %}
				{% if item_name_parts.insert(0, item_name_start) %}{% endif %}
				{% set item_name_translated = item_name_parts|join(" «") %}

				{% if doc.doctype == "Blanket Order" %}
						<!-- Rahmenauftrag: Keine vollständigen Item-Einträge => aus Stamm ergänzen -->
						{% if item.update({'amount': item.rate * item.qty, 'item_group': item_stamm.item_group, 'description': item_stamm.description, 'conversion_factor': 1, 'stock_uom': item_stamm.stock_uom, 'uom': item_stamm.sales_uom or item_stamm.stock_uom}) %}{% endif %}
				{% endif %}
				{% if item.item_group != 'Versandkosten' %}
						{% set totalkontrolle.value = totalkontrolle.value + item.amount %}
						{% set zolltarif = frappe.get_doc("Item Group", item.item_group).zolltarifnummer %}
						{% if doc.doctype == "Purchase Order" %}
								{% set supplier_details = {'lieferanten_artikelnummer': '', 'lieferanten_artikelbezeichnung': ''} %}
								{% for lieferant in item_stamm.supplier_items %}
										{% if lieferant.supplier == doc.supplier %}
												{% if supplier_details.update({'lieferanten_artikelnummer': lieferant.supplier_part_no, 'lieferanten_artikelbezeichnung': lieferant.lieferanten_artikelbezeichnung}) %}{% endif %}
										{% endif %}
								{% endfor %}
						{% elif doc.doctype == "Delivery Note" %}
								{% if item.batch_no %}
										{% set chargennummer = frappe.get_doc("Batch", item.batch_no).chargennummer %}
								{% endif %}
						{% endif %}
						<tr>
								<td>{% if item.position %}{{ item.position }}{% else %}{{ loop.index }}{% endif %}</td>
								<td>
										{{ item.item_code }}<br>
										{% if doc.doctype == "Purchase Order" %}
												{% if supplier_details.lieferanten_artikelnummer %}{{ supplier_details.lieferanten_artikelnummer }}<br>{% endif %}
												{% if supplier_details.lieferanten_artikelbezeichnung %}{{ supplier_details.lieferanten_artikelbezeichnung }}<br>{% endif %}
										{% else %}
												{% if item_stamm.artikelcode_kunde and item_stamm.artikelcode_kunde != item_stamm.item_name and item_stamm.kunde == doc.customer %}{{ _("Artikelnr. Kunde:") }} {{ item_stamm.artikelcode_kunde }}{% if item_stamm.produktrevision_kunde %} {{ _("rev.") }} {{ item_stamm.produktrevision_kunde }}{% endif %}<br>{% endif %}
										{% endif %}										
										<div class="item-title">{{ item_name_translated }}</div>
										{% if item.original_item_name and item.original_item_name != item.item_name %}<div class="item-subtitle">{{ _(item.original_item_name) }}</div>{% endif %}
										{% if item_stamm.variant_of %}{{ get_item_variant_description(item.item_code) }}{% endif %}
										{% if item.item_code=="GP-00001" and item.specsheet_measurand %}
											<table class="specsheet">
											<tr><td>{{ _("Messgrösse") }}: </td><td>{{ _(item.specsheet_measurand) }}</td></tr>
											<tr><td>{{ _("Messbereich") }}: </td><td>{{ _(item.specsheet_range) }}</td></tr>
											<tr><td>{{ _("Substratherstellung") }}: </td><td>{{ _(item.specsheet_process_substrate) }}</td></tr>
											<tr><td>{{ _("Isolationsschicht") }}: </td><td>{{ _(item.specsheet_process_insulation) }}</td></tr>
											<tr><td>{{ _("Metallschichten") }}: </td><td>{{ _(item.specsheet_process_metal_layers) }}</td></tr>
											<tr><td>{{ _("Laserablation") }}: </td><td>{{ _(item.specsheet_process_laser_ablation) }}</td></tr>
											<tr><td>{{ _("Schutzschicht") }}: </td><td>{{ _(item.specsheet_process_protective_layer) }}</td></tr>
											<tr><td>{{ _("Vereinzeln") }}: </td><td>{{ _(item.specsheet_process_dicing) }}</td></tr>
											<tr><td>{{ _("Löten") }}: </td><td>{{ _(item.specsheet_process_soldering) }}</td></tr>
											<tr><td>{{ _("Laserschweissen") }}: </td><td>{{ _(item.specsheet_process_laser_welding) }}</td></tr>
											<tr><td>{{ _("Endkontrolle") }}: </td><td>{{ _(item.specsheet_process_final_testing) }}</td></tr>
											<tr><td>{{ _("Verpackung") }}: </td><td>{{ _(item.specsheet_process_packaging) }}</td></tr>
											</table>
										{% endif %}
										{% if item.description | replace('<div>', '') | replace('</div>', '') != item.item_name %}{{ _(item.description) }}{% endif %}
										{% if doc_data.adresse_lieferung.land != "Schweiz" and zolltarif %}<div style="height:2mm"></div>{{ _("Zolltarifnummer") }}: {{ zolltarif }}{% endif %}
										{% if doc.doctype == "Blanket Order" and item.lot_size %}
											<div style="height:2mm"></div>{{ _("Losgrösse:") }} {{ "{:,.0f}".format(item.lot_size).replace(",", "'") }}&nbsp;{{ _(item_stamm.stock_uom) }}<br>
											{% if item.min_stock_qty %}{{ _("Mindestlagerbestand Senstech:") }} {{ "{:,.0f}".format(item.min_stock_qty).replace(",", "'") }}&nbsp;{{ _(item_stamm.stock_uom) }}<br>{% endif %}
										{% endif %}
								</td>
								<td>{{ "{:,.0f}".format(item.qty * item.conversion_factor).replace(",", "'") }}&nbsp;{{ _(item.stock_uom) }}
										{% if doc.doctype == "Sales Order" %}
											<br>{{ item.get_formatted('delivery_date') }}
										{% elif doc.doctype == "Purchase Order" %}
											<br>{{ item.get_formatted('schedule_date') }}
										{% endif %}
								</td>
						    {% if doc.doctype == "Delivery Note" %}
									<td>
										{{ chargennummer or '' }}
									</td>
								{% else %}
									<td style="text-align: right;">{{ "{:,.2f}".format(item.rate).replace(",", "'") }}&nbsp;{{ doc.currency }}
									  {% if item.uom != item.stock_uom %} / {{ item.uom }} {% endif %}
									</td>
									<td style="text-align: right;">{{ "{:,.2f}".format(item.amount).replace(",", "'") }}&nbsp;{{ doc.currency }}</td>										
								{% endif %}
						</tr>
				{% endif %}
		{% endfor %}
		
		{% if doc.doctype != "Delivery Note" %}
		
				{% if doc_data.lieferkonditionen.found == 1 and doc_data.lieferkonditionen.amount > 0 and doc.doctype != "Blanket Order" %}
						{% set totalkontrolle.value = totalkontrolle.value + doc_data.lieferkonditionen.amount %}
						<tr>
								<td class="noborder" colspan="4" style="text-align: right;">{{ _(doc_data.lieferkonditionen.txt) }}</td>
								<td class="borderright borderleft borderbottom" style="text-align: right;">{{ "{:,.2f}".format(doc_data.lieferkonditionen.amount).replace(",", "'") }}&nbsp;{{ doc.currency }}</td>
						</tr>
				{% endif %}
				{% if doc.doctype == "Blanket Order" %}
						{% set ttmpl = frappe.get_doc("Sales Taxes and Charges Template", doc.taxes_and_charges) %}
						{% if doc.update({'taxes': ttmpl.taxes, 'discount_amount': 0, 'grand_total': totalkontrolle.value}) %}{% endif %}
				{% endif %}
				{% if doc.discount_amount > 0 and doc.apply_discount_on == 'Net Total' %}
						{% set totalkontrolle.value = totalkontrolle.value - doc.discount_amount %}
						<tr>
								<td class="noborder" colspan="4" style="text-align: right;">{{ _("Rabatt") }}{% if doc.additional_discount_percentage > 0 %} {{ doc.additional_discount_percentage }}%{% endif %}</td>
								<td class="borderright borderleft borderbottom" style="text-align: right;">-{{ "{:,.2f}".format(doc.discount_amount).replace(",", "'") }}&nbsp;{{ doc.currency }}</td>
						</tr>
				{% endif %}
				{% set has_vat = namespace(value=0) %}
				{% for tax in doc.taxes %}
						{% if tax.charge_type != 'Actual' %}
								{% if tax.rate > 0 %}
										{% set has_vat.value = 1 %}
										{% if doc.doctype == "Blanket Order" %}
												<!-- Steuerberechnung Rahmenauftrag: Hack, funktioniert nicht bei mehreren Steuersätzen -->
												{% if tax.update({'tax_amount': doc.grand_total * tax.rate / 100}) %}{% endif %}
										{% endif %}
								{% endif %}
								{% set totalkontrolle.value = totalkontrolle.value + tax.tax_amount %}
								<tr>
									<td class="noborder" colspan="4" style="text-align: right;">{{ _("zzgl.") }} {{ tax.rate }}% {{ _("MWST") }}</td>
									<td class="borderright borderleft borderbottom" style="text-align: right;">{{ "{:,.2f}".format(tax.tax_amount).replace(",", "'") }}&nbsp;{{ doc.currency }}</td>
								</tr>
						{% endif %}
				{% endfor %}
				{% if doc.discount_amount > 0 and doc.apply_discount_on == 'Grand Total' %}
						{% set totalkontrolle.value = totalkontrolle.value - doc.discount_amount %}
						<tr>
								<td class="noborder" colspan="4" style="text-align: right;">{{ _("Rabatt auf Bruttobetrag") }}{% if doc.additional_discount_percentage > 0 %} {{ doc.additional_discount_percentage }}%{% endif %}</td>
								<td class="borderright borderleft borderbottom" style="text-align: right;">-{{ "{:,.2f}".format(doc.discount_amount).replace(",", "'") }}&nbsp;{{ doc.currency }}</td>
						</tr>
				{% endif %}
				<tr>
					<td class="noborder" colspan="4" style="text-align: right;"><b>
						{% if doc.doctype == "Purchase Order" %}
								{{ _("Bestellwert") }}
						{% else %}
								{{ _("Total") }}
						{% endif %}
						{% if has_vat.value == 0 %}
								{{ _("exkl. MWST") }}
						{% endif %}		
						{% if doc.doctype == "Blanket Order" %}
								{% if doc.update({'grand_total': totalkontrolle.value}) %}{% endif %}
						{% endif %}
					</b></td>
					<td class="borderright borderleft borderbottom" style="text-align: right;">{{ "{:,.2f}".format(doc.grand_total).replace(",", "'") }}&nbsp;{{ doc.currency }}</td>
				</tr>
				
		{% endif %}
	</tbody>
</table>

<!-- Kontrolle Rechnungstotal -->
{% if doc.doctype != "Delivery Note" %}
		{% if (totalkontrolle.value - doc.grand_total)|abs > 0.01 %}
		<div class="errorpopup">Fehler: Das Rechnungstotal ({{ doc.grand_total }}) entspricht nicht der Summe der angezeigten Positionen ({{ totalkontrolle.value }})</div>
		{% endif %}
{% endif %}
<!-- /Kontrolle Rechnungstotal -->