<!-- briefkopf -->
{% if _("language_code") in ['en','de'] %}
		{% set bk = 'senstech_' + _("language_code") %}
{% else %}
		{% set bk = 'senstech_en' %}
{% endif %}
{% if doc_data.update({ 'briefkopf': bk }) %}{% endif %}

<!-- user_id -->
{% if doc.gate1_requested_by_user %}
		{% set user_id = doc.gate1_requested_by_user %}
{% elif doc.docstatus == 0 %}
    {% set user_id = doc.owner %}
{% else %}
    {% if doc.submitted_by %}
        {% set user_id = doc.submitted_by %}
    {% else %}
        {% set user_id = doc.modified_by %}
    {% endif %}
{% endif %}
{% if doc_data.update({ 'user_id': user_id }) %}{% endif %}

<!-- ansprechpartner -->
{% if doc_data.update({ 'ansprechpartner': frappe.get_doc("User", doc_data.user_id).full_name }) %}{% endif %}

<!-- rahmenauftrag -->
{% if doc.doctype == 'Sales Order' %}
    {% set bo_doc = doc %}
{% elif doc.items and doc.items[0].sales_order %}
    {% set bo_doc = frappe.get_doc("Sales Order", doc.items[0].sales_order) %}
{% elif doc.items and doc.items[0].against_sales_order %}
    {% set bo_doc = frappe.get_doc("Sales Order", doc.items[0].against_sales_order) %}
{% endif %}
{% if bo_doc %}
    {% if bo_doc.items[0].blanket_order %}
	      {% if doc_data.update({ 'rahmenauftrag': frappe.get_doc("Blanket Order", bo_doc.items[0].blanket_order).rahmenauftragsnummer_kunde }) %}{% endif %}
    {% endif %}
{% endif %}

<!-- unsere_lieferantennummer (QN, SO, DN, SI) -->
{% if doc.customer %}
  {% if doc_data.update({ 'unsere_lieferantennummer': frappe.get_doc("Customer", doc.customer).unsere_lieferantennummer }) %}{% endif %}
{% endif %}

<!-- unsere_kundennummer (PO) -->
{% if doc.supplier %}
  {% if doc_data.update({ 'unsere_kundennummer': frappe.get_doc("Supplier", doc.supplier).unsere_kundennummer }) %}{% endif %}
{% endif %}

<!-- unterschrift -->
{% set doc_unterschrift = get_signature_for_user_id(user_id) %}
{% if doc_unterschrift %}
		{% if doc_data.update({ 'unterschrift': doc_unterschrift }) %}{% endif %}
{% endif %}

<!-- adresse_kunde (QN, SO, DN, SI) -->
{% if doc.customer_address %}
		{% set cust_addr = frappe.get_doc("Address", doc.customer_address) %}
		{% if cust_addr.abweichender_firmennamen %}
			{% set cust_firma = cust_addr.abweichender_firmennamen %}
		{% else %}
			{% set cust_firma = doc.customer_name %}
		{% endif %}
		{% set cust = { 
										'firma': cust_firma,
										'adresse': doc.address_display,
										'land': cust_addr.country
									} %}
{% elif doc.customer_name %}
		{% set cust = { 
										'firma': doc.customer_name,
										'adresse': '<span style="color:red"><b>' + _('Keine Adresse hinterlegt') + '</b></span>',
										'land': _('Kein Land hinterlegt')
									} %}
{% else %}
		{% set cust = { 
										'firma': '<span style="color:red"><b>' + _('Kein Kunde definiert') + '</b></span>',
										'adresse': _('Adresse unbekannt'),
										'land': _('Land unbekannt')
									} %}
{% endif %}
{% if doc_data.update({ 'adresse_kunde': cust }) %}{% endif %}

<!-- adresse_lieferung (QN, SO, DN, SI) -->
{% if doc.shipping_address_name %}
		{% set ship_addr = frappe.get_doc("Address", doc.shipping_address_name) %}
		{% if ship_addr.abweichender_firmennamen %}
				{% set ship_firma = ship_addr.abweichender_firmennamen %}
		{% else %}
				{% set ship_firma = doc.customer_name %}
		{% endif %}
		{% set shipping = { 
												'firma': ship_firma,
												'adresse': doc.shipping_address,
												'land': ship_addr.country
											} %}
{% else %}
		{% set shipping = doc_data.adresse_kunde %}
{% endif %}
{% if doc_data.update({ 'adresse_lieferung': shipping }) %}{% endif %}

<!-- adresse_lieferant (PO) -->
{% if doc.supplier_address %}
    {% set supp_addr = frappe.get_doc("Address", doc.supplier_address) %}
    {% if supp_addr.abweichender_firmennamen %}
	    {% set supp_firma = supp_addr.abweichender_firmennamen %}
    {% else %}
	    {% set supp_firma = doc.supplier_name %}
    {% endif %}
		{% set supp = { 
										'firma': supp_firma,
										'adresse': doc.address_display,
										'land': supp_addr.country
									} %}
{% else %}
		{% set supp = { 
										'firma': doc.supplier_name,
										'adresse': '<span style="color:red"><b>' + _('Keine Adresse hinterlegt') + '</b></span>',
										'land': _('Kein Land hinterlegt')
									} %}
{% endif %}
{% if doc_data.update({ 'adresse_lieferant': supp }) %}{% endif %}

<!-- kontakt -->
{% if doc.contact_person %}
		{% set contact_doc = frappe.get_doc("Contact", doc.contact_person) %}
		{% set contact = _(contact_doc.salutation or '') + ' ' + (contact_doc.first_name or '-') + ' ' + (contact_doc.last_name or '') %}
{% else %}
		{% set contact = '-' %}
{% endif %}
{% if doc_data.update({ 'kontakt': contact }) %}{% endif %}

<!-- lieferkonditionen -->
{% set lieferkond = {'found': 0, 'txt': '', 'amount': 0} %}
{% if doc_data.update({'dev_positionen': 0}) %}{% endif %}
{% for item in doc.items %}
		{% if doc.doctype == "Blanket Order" %}
			<!-- Rahmenauftrag: Keine vollständigen Item-Einträge => aus Stamm ergänzen -->
			{% set item_stamm = frappe.get_doc("Item", item.item_code) %}
			{% if item.update({'amount': item.rate * item.qty, 'item_group': item_stamm.item_group}) %}{% endif %}
		{% endif %}
		{% if item.item_group == 'Versandkosten' %}
				{% if lieferkond.update({'found': 1, 'txt': item.item_name, 'amount': lieferkond.amount + item.amount}) %}{% endif %}
		{% endif %}
		<!-- Für Gate 1 Review -->
		{% if item.item_code == 'GP-00001' %}
				{% if doc_data.update({'dev_positionen': doc_data.dev_positionen + 1}) %}{% endif %}
		{% endif %}
{% endfor %}
{% if doc_data.update({ 'lieferkonditionen': lieferkond }) %}{% endif %}

<!-- senstech_iban -->
{% if frappe.get_doc("Account", "1020 - KK ZKB 1042-0171.171 - ST").iban %}
    {% set iban = frappe.get_doc("Account", "1020 - KK ZKB 1042-0171.171 - ST").iban %}
		{% if doc_data.update({ 'senstech_iban': iban }) %}{% endif %}
{% else %}
    <div class="errorpopup">Fehler beim Laden der IBAN-Nummer</div>
{% endif %}



<!-- CSS -->
<style type="text/css">
@font-face {
   font-family: 'Open Sans';
   src: url('/files/OpenSans-Regular.ttf');
}
@font-face {
   font-family: 'Open Sans';
	 font-weight: bold;
   src: url('/files/OpenSans-Semibold.ttf');
}
@font-face {
   font-family: 'Open Sans';
	 font-style: italic;
   src: url('/files/OpenSans-Italic.ttf');
}
@font-face {
   font-family: 'Open Sans';
	 font-weight: bold;
	 font-style: italic;
   src: url('/files/OpenSans-SemiboldItalic.ttf');
}
@font-face {
   font-family: 'Open Sans SemiCondensed';
   src: url('/files/OpenSans_SemiCondensed-Regular.ttf');
}
@font-face {
   font-family: 'Open Sans SemiCondensed';
	 font-weight: bold;
   src: url('/files/OpenSans_SemiCondensed-Bold.ttf');
}
@font-face {
   font-family: 'Open Sans SemiCondensed';
	 font-style: italic;
   src: url('/files/OpenSans_SemiCondensed-Italic.ttf');
}
@font-face {
   font-family: 'Open Sans SemiCondensed';
	 font-weight: bold;
	 font-style: italic;
   src: url('/files/OpenSans_SemiCondensed-BoldItalic.ttf');
}

.print-format {
    font-family: 'Open Sans';
    font-size: 9.5pt;
    line-height: 1.5;
    position: relative;
    margin-left: 12.5mm;
}

.larger {
	font-size: 9.5pt;
}

.item-title {
		font-weight: bold;
}

.item-subtitle {
		font-size: 7.5pt;
		font-weight: bold;
}
.details {
		font-size: 7.5pt;
}
.detailtable {
		font-size: 7.5pt;
}
#itemtable {
		font-size: 7.5pt;
}
#itemtable ul {
		margin-bottom: 1mm;
}

.print-format td, .print-format th {
    padding: 0px !important;
}

.errorpopup {
    position: absolute;
    width: 150mm;
    left: 30mm;
    top: 30mm;
    padding: 10mm;
    border: 2px solid red;
    background-color: #fdd;
    font-size: 14pt;
    color: red;
}

.watermark {
  position: absolute;
	left: 50%;
  top: 80mm;
	transform: translate(-50%,0);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
}
.watermark p {
	margin: 0;
  font-size: 88pt;
  font-weight: bold;
	line-height: 88pt;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  opacity: 0.5;
  text-transform: uppercase;
}

#itemtable {
  border-collapse: collapse !important;
}

#itemtable > tbody > tr > th, #itemtable > tbody >  tr > td {
    border: 0.5px solid gray !important;
    padding: 6px !important;
}

#itemtable td.noborder {
    border: none !important;
}

#itemtable td.borderright {
    border: none !important;
    border-right: 0.5px solid black !important;
}

#itemtable td.borderleft {
    border-left: 0.5px solid black !important;
}

#itemtable td.borderbottom {
    border-bottom: 0.5px solid black !important;
}

#itemtable td.bordertop {
    border-top: 0.5px solid black !important;
}

.specsheet tr {
		padding: 0 !important;
		margin: 0 !important;		
}

.specsheet td {
		padding: 0 !important;
		padding-right: 4.0pt !important;
		margin: 0 !important;
}

table.checklist {
		font-size: 8.5pt;
		margin-top: 10px;
}

table.checklist td, table.checklist th {
		padding: 2px 4px !important;
}

#footer-table {
	width: 100%;
	border-collapse: collapse !important;
	position: absolute;
	bottom: 0;
	left: 0;
}

#footer-table tr {
	height: 7.0pt !important;
}

#footer-table td {
	font-size: 8.5pt;
	font-family: 'Open Sans SemiCondensed';
	color: #808080;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* border: 0.3mm solid #ccc !important; */
}

#footer-table span {
	color: #808080 !important;
	font-size: 8.5pt !important;
}
</style>